Package: com.ps.applibraryforipad
Name: App Library for iPad
Version: 1.0.0
Architecture: iphoneos-arm
Description: Enable App Library on iPad.
Maintainer: PoomSmart
Author: PoomSmart
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), gsc.ipad, firmware (>= 14.0)
Depiction: https://poomsmart.github.io/repo/depictions/applibraryforipad.html
SileoDepiction: https://poomsmart.github.io/repo/sileodepictions/applibraryforipad.json
